 {% extends 'base.html' %}
 {% block content %}
<p>
<h3> ¿Que es "Trimol"?</h3><br>Trimol es una aplicacion web realizada en python y django 2, con la finalidad de facilitar la busqueda de hospitales mediante una base de datos, la creacion de vistas, asi como de funciones y la utilizacion de HTMLs.
</p>
<p>
<h3>Misión:</h3><br>Ayudar a nuestros usuarios a que cuenten con la información necesaria de cualquier hospital que se encuentre a su disposición.
</p>
<p>
	
<h3>Visión:</h3><br>Ser una aplicación web con la capacidad de ofrecer a nuestros usuarios la búsqueda de cualquier hospital publico o privado dentro de nuestra región.

</p>
<p>
	
<h5> Programacion Web<br>
Integrantes:<br></h5>
<a href="https://www.facebook.com/dvemmanuel">Delgado Villarreal Emmanuel Antonio #15210515<br></a>
<a href="https://www.facebook.com/profile.php?id=100008888863400">Hidalgo López Francisco de Jesús<br></a>
<a href="https://www.facebook.com/adri.medina.92">Media Guido David Adrian #15210537<br></a>
<a href="https://www.facebook.com/mario.edgar.3">Ortega Villalobos Mario # 15210542<br></a>
<a href="https://www.facebook.com/chaparro.akamaru">Sánchez Calderón Víctor Ángel #15210552<br></a>

</p>
 {%endblock%}