{% extends 'base.html' %}
{% load staticfiles %}
{%block content%}

<br><br><br><br><br><br><br>
    <section class="about text-center" id="about">
    <div class="container">
      <div class="row">
             {% if object_list %}
    
             {% for Hospital in object_list %}
           <FONT SIZE=7><a href="{{ Hospital.get_absolute_url}}">
              <big>{{ Hospital.Nombre}}</big></font></a>
              <h3>Recomendaciones: <b>{{Hospital.calificacion}}</b><br>{{Hospital.Sector}}</h3>
                <p></p>
                 <p></p>
              {% if Hospital.Imagen %}
              <img class="img-rounded center-block" src="{{Hospital.Imagen.url}}" height="400" width="550">
              {% endif %}
             </p>


           
      
                 {% endfor %}
     
                 {% else %}
                   <p>No existe ese hospital.</p>
                  {% endif %}
                  <ul class="pager">
                     <li>
                  {% if page_obj.has_previous%}
                   <a href="?page={{ page_obj.previous_page_number  }}">Previos</a>
                   {%endif%}
                      </li>

        
                  <li>
                 {% if page_obj.has_next%}
                   <a href="?page={{ page_obj.next_page_number  }}">Next</a>
                     {%endif%}

             </li>
          </ul>
        </div>
     </div>
  </section>
    
{%endblock%}