{% extends 'login2.html'%}
{% block content %}
<title>Sign Up</title>
<div class="div-title">
  <h2>Sign Up</h2>
</div>
<div class="div-align">
<form method="POST" class="pure-form" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p}}
    <button type="submit" class="btn btn-default">Save<span class="glyphicon glyphicon-ok" aria-hidden="true">
    </span></button>
    <button type="reset" class="btn btn-default">Cancel<span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
</form>
</div>
{% endblock %}

